html{
	height:100%;
}
body{
	height:100%;
	background-image:url(45degreee_fabric.png);
}

#LoginForm, #RegForm{
	width:600px;
	height:auto;
	background-color:white;
	position:absolute;
    top:20%;
    left: 0;
    right: 0;
    margin:auto;
    padding-bottom:10px;
   box-shadow: 1px 1px 2px 3px  #b3b3b3;	
}

#GroupForm, #DeleteGroupForm{
	width:300px;
	height:auto;
	background-color:white;
	position:absolute;
    top:170px;
    left: 2%;
    padding-bottom:10px;
   box-shadow: 1px 1px 2px 3px  #b3b3b3;	
}

#DeleteGroupForm{
 	top:480px;
}

#GroupForm h3, #DeleteGroupForm h3{
	font-size:250%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5%;
	font-family: 'Dancing Script';
}


#newGroups{
	margin-left:400px;
	margin-right:50px;
	margin-top:-50px;
}

#newGroups p{
	font-family: 'Lora';
 	font-size:110%;
	color:#6e252c;
	text-align: center;
   
}

.groupDiv{
	background-color:white;
	float:left;
	margin:50px;
	box-shadow: 1px 1px 1px 2px  #b3b3b3;	
}

.groupButton{
	border:none;
 	font-family: 'Lora';
 	font-size:150%;
 	padding-top:5px;
 	padding-bottom:40px;
 	cursor: pointer;
	margin:0;
	background-color:#e0efe0;
	color: #7aa37a;
}

.groupButton:hover{
	font-size:160%;
	background-color:#cfe7cf;
	color:black;
}


#head h1{
	margin-top:0;
	margin-left:-5%;
	text-align:center;
}

#head h2{
	font-family: 'Lora';
	font-size:250%;
	margin-left:2%;
	margin-top:0px;
	color:#6e252c;
}

#head a{
	position:absolute;
	top:20px;
    left: 90%;
    right: 0;
    margin:auto;;
	font-family: 'Lora';
	font-size:130%;
	color:black;
}

#head a:hover{
	font-size:140%;
}

#containerGroup{
	width:1100px;
	position:absolute;
	left:15%;
	height:100%;
}

#GroupMessage{
	width:550px;
	height:600px;
	float:left;
	background-color:white;
	border-top: 2px solid #8e8e8e;
	border-bottom: 4px solid #595959;
}

#headGroup h1{
	margin-top:-10px;
	margin-left:-12%;
	text-align:center;
}

.logoutGroup{
	margin-left:80%;
	font-family: 'Lora';
	font-size:120%;
	color:black;
}

.backGroup{
	position:absolute;
	top:0;
	right:90%;
	font-family: 'Lora';
	color:black;
}

#messageDiv{
	background-color:#f8f8f8;
	width:80%;
	height:65%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	overflow:auto;
	border:1px solid #dfdfdf;
 
}

.userNameGroup, .userNameGroup1{
	color:#7ca47c;
	font-family: 'Lora';
	margin-top:0px;
	margin-left:4px;
	text-decoration:underline;
}

.userNameGroup1{
	color:#6e252c;
	margin-top:-20px;
	font-size:110%;
}

.textMessage, .textMessage1{
	overflow:hidden;
	height:auto;
	border:1px solid black;
	margin:10px;
	background-color:#f5faf5;
	border-radius: 5px;
}

.textMessage1{
	background-color:#fdfdfd;
	
}

.textGroup{
	margin-left:3px;
	margin-top:-15px;
}

.deleteText{
	margin-left:345px;
	background-color:#fdfdfd;
	border:none;
	width:50px;
	font-weight:bold;
	cursor:pointer;
	font-family: 'Lora';
}

.note{
	width:220px;
	height:170px;
	margin-left:5px;
	margin-top:20px;
	background: -webkit-linear-gradient(top, #ffffcc, #ffff99);
   	background: -moz-linear-gradient(top,#ffffcc, #ffff99);
   	background: -o-linear-gradient(top, #ffffcc, #ffff99);
   	background: -ms-linear-gradient(top, #ffffcc, #ffff99);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,  #ffffcc), color-stop(100%,#ffff99));
	box-shadow: 1px 1px 1px 1px  #b3b3b3;
	overflow:auto;	
}

.stickyText, .stickyText1{
	margin-top:0px;
	font-family: 'Lora';
	font-size:110%;
	margin-left:5px;
}

.stickyText1{
	margin-top:15px;
}

textarea{
	height:100px;
	width:400px;
	margin-top:20px;
	margin-left:58px;
}

.sendButton{
	margin-left:20%;
	font-family:'Lora';
	font-size:100%;
	width:100px;
	height:30px;
	color:#9E363F;
	
}

#noteDiv{
	width:250px;
	height:600px;
	float:left;
	background-color:white;
	border-top: 2px solid #8e8e8e;
	border-bottom: 4px solid #595959;
	border-right: 4px solid #8e8e8e;
	overflow:auto;

}

.deleteSticky{
	width:20px;
	margin-left:200px;
	margin-top:-200px;
	background-color:transparent;
	border:none;
	cursor: pointer;
	font-weight: bold;
}

#userDiv{
	background-color:white;
	width:200px;
	height:600px;
	float:left;
	border-top: 2px solid #8e8e8e;
	border-bottom: 4px solid #595959;
	border-left: 2px solid #595959;
	
}


#userDiv h2{
	margin-top:10px;
	font-family: 'Lora';
	font-size:200%;
	color:#6e252c;
}

#userDiv li{
	margin-left:5%;
	font-size:200%;
	font-family: 'Dancing Script';
}

#LoginForm a, #RegForm a, #GroupForm a{
	line-height:20px;
	margin-left:78%;
	font-family: 'Lora';
	color:black;
}

#GroupForm a{
	margin-left:2%;
}

#RegForm a{
	margin-left:87%;
}

#LoginForm a:hover, #RegForm a:hover, #GroupForm a:hover{
	font-size: 110%;
}

#RegForm h2{
	font-size:250%;
	margin-top:-10px;
	margin-bottom:20px;
}

#LoginForm p, #RegForm p, #GroupForm p, #DeleteGroupForm p{
	font-family: 'Lora';
	font-size:120%;
	margin-left:5%;
	color:#ff7d88;
}

#GroupForm p, #DeleteGroupForm p{
	margin-left:2%;
}

h1{	
	margin-top:-30px;
	margin-left:20%;
	font-family: 'Lora';
	font-size:350%;
	color:#9E363F;
	text-shadow: 1px 1px #c7c7c7;

}

h2{
	font-size:300%;
	margin-top:-50px;
	margin-bottom:10px;
	margin-left:5%;
	font-family: 'Dancing Script';
}


input{
	margin-left:5%;
	height:20px;
	width:200px;
	
}

label{
	font-family: 'Lora';
	margin-left:5%;
	line-height:40px;
}

.labelPassword{
	margin-left:118px;
}

.submitbutton, .regbutton, .submitbuttonCreateGroup, .submitbuttonCreateGroup1, .buttonDeleteGroup, .buttonsaveText{
	width:100px;
	height:35px;
	margin-top:20px;
	font-family: 'Lora';
	font-size:120%;
	color:#9E363F;
}
.buttonsaveText{
	margin-left:60px;
	margin-top:10px;
}
.regbutton{
	width:150px;
	margin-top:20px;
}
.submitbuttonCreateGroup, .buttonDeleteGroup{
		width:150px;
	margin-top:20px;
}

.submitbuttonCreateGroup1{
		width:250px;
	margin-top:20px;
}
.submitbutton:hover, .regbutton:hover, .sendButton:hover, .submitbuttonCreateGroup:hover, .submitbuttonCreateGroup1:hover, .buttonDeleteGroup:hover{
	color:black;
}

.checkbox{
	margin-left:-85px;
}

.checkboxGroup{
	margin-left:-90px;
}


.labelbox{
	margin-left:30px;
}

.labeldays{
	margin-left:-80px;
}

